<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>594196771574-3blc5f81hjluvh2e5vge9tm1kiv75tn6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.594196771574-3blc5f81hjluvh2e5vge9tm1kiv75tn6</string>
	<key>API_KEY</key>
	<string>AIzaSyDVSBjglT57C-XHcl51ikCvy-lR0D40gwc</string>
	<key>GCM_SENDER_ID</key>
	<string>594196771574</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>joao.tm.swiftui-sims-school-backup</string>
	<key>PROJECT_ID</key>
	<string>sims-school-project</string>
	<key>STORAGE_BUCKET</key>
	<string>sims-school-project.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:594196771574:ios:ae116d810a801501c032d7</string>
	<key>DATABASE_URL</key>
	<string>https://sims-school-project.firebaseio.com</string>
</dict>
</plist>