<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>268085241448-c6q2m6hk489s99c32evvcqplhnln8lt6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.268085241448-c6q2m6hk489s99c32evvcqplhnln8lt6</string>
	<key>API_KEY</key>
	<string>AIzaSyD8ZCu4Ow1WnJAR84d4gLFRAsuAU4Vqobs</string>
	<key>GCM_SENDER_ID</key>
	<string>268085241448</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>joao.tm.swiftui-sims-school</string>
	<key>PROJECT_ID</key>
	<string>swiftui-sims-school</string>
	<key>STORAGE_BUCKET</key>
	<string>swiftui-sims-school.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:268085241448:ios:a44a227ce65e6bdd753ddd</string>
	<key>DATABASE_URL</key>
	<string>https://swiftui-sims-school.firebaseio.com</string>
</dict>
</plist>